::selection {
  background-color: #F15025;
  /* Change this to the background color you want */
  color: #fff;
  /* Change this to the text color you want */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Inconsolata', monospace; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* SIDEBAR */

.menuDiv{
  height:100%;
}
.menuUl{
  list-style: none;
  position: fixed;
  left: 0;
  margin-top:0%;
  width: 15%;

}

.nameInMenu{
  font-size: larger;
  font-weight: bold;
}

.menuLi{
  margin-bottom: 10px;
  text-align: right;
}

.menuA{
  display: block;
   text-decoration: none;
   color: #333;
      transition: all 0.3s ease;
      cursor: pointer;
     
}

.menuLi:hover{
  color: #F15025;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeMenu{
  color:#F15025;
  background-color: #F15025;
}

.btn-outline-danger{
  border-radius: 0%;
  border-color: #F15025;
  color:#333;
  text-align: right;
}

.btn-outline-danger:hover{
  background-color: #F15025;
}


/* INTRODUCTION */
.introduction{
  margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 10%;
}

.introName{
  font-weight: bold;
}
.aboutMeDiv{
  margin-top: 5%;
}
.segment{
  color: #F15025;
}

.aboutMeText{

}
.inTextA{
  color: #F15025;
}


/* PROJECTS */
.projects{
  margin-top: 3%;;
  margin-left: 18%;
  margin-right: 10%;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
  padding-bottom: 2%;
  width: 70%;
  display: block;
}


.projectDescription {
  transition: height 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}

.expandedProject .projectDescription {
  height: auto;
}


.projectFirstPart{
  display: grid;
  grid-column: 90% 10%;
}

.projectFirstPartInfo{
  grid-row: 1;
  grid-column: 1;
}

.projectFirstPartArrow{
  grid-row: 1;
  grid-column: 2;
  text-align: right;
}

.projectName{
}
.button-container {
  display:block;
}
.projectsImages{
  height: 30em;
}

.projectDate{
  /* font-family: 'Montserrat', sans-serif; */
  color: #F15025;
  font-weight: 400;
  font-size: medium;
}

.projectMedium, .projectRole {
  font-weight: 800;
}

.projectLink{
  color: gray;
  text-decoration: none;
  margin-bottom: 1%;
}
.projectLink:hover {
  color: #F15025;
  text-decoration: #F15025;
  text-decoration: underline;
}


.arrow {
  transform: rotate(90deg);
}

.arrow:hover{
  color:white;
}

.arrow.rotate{
  transform: rotate(0deg);
}

.btn-arrow {
  background-color: lightgrey;
  border-color: lightgray;
  height: 4em;
    width: 4em;
    border-radius: 50%;
}

.btn-arrow:hover {
  background-color: #F15025;
  border-color: #F15025;
}

.projectLine {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-left: 18%;
  margin-right: 7%;
}


/* CONTACT */

.contactPage {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  left: 95%;
  top: 50%;
  z-index: 1;
  padding-right: 5%;
}

.contactPageIcon {
  margin-bottom: 20px;
}

.contactPageIcon a {
  color: #555;
}

.contactIcon{
  width: 30px ;
  color: black;
}
