::selection {
  background-color: #F15025;
  /* Change this to the background color you want */
  color: #fff;
  /* Change this to the text color you want */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Inconsolata', monospace; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* SIDEBAR */

.menuDiv{
  height:100%;
}
.menuUl{
  list-style: none;
  position: fixed;
  left: 0;
  margin-top:0%;
  width: 15%;

}

.nameInMenu{
  font-size: larger;
  font-weight: bold;
}

.menuLi{
  margin-bottom: 10px;
  text-align: right;
}

.menuA{
  display: block;
   text-decoration: none;
   color: #333;
      transition: all 0.3s ease;
      cursor: pointer;
     
}

.menuLi:hover{
  color: #F15025;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeMenu{
  color:#F15025;
  background-color: #F15025;
}

.btn-outline-danger{
  border-radius: 0%;
  border-color: #F15025;
  color:#333;
  text-align: right;
}

.btn-outline-danger:hover{
  background-color: #F15025;
}


/* INTRODUCTION */
.introduction{
  margin-bottom: 10%;
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 10%;
}
.projects{
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 18%;
  margin-right: 10%;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
  padding-bottom: 5%;
  width: 70%;
  display: block;
}

.projects:hover{
    transition: all 0.3s ease;
}

.closedProject{
}

.expandedProject{

}

.projectFirstPart{
  display: grid;
  grid-column: 90% 10%;
}

.projectFirstPartInfo{
  grid-row: 1;
  grid-column: 1;
}

.projectFirstPartArrow{
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

.projectName{
}

.projectsImages{
  height: 30rem;
}

.projectDate{
  /* font-family: 'Montserrat', sans-serif; */
  color: #F15025;
  font-weight: 400;
  font-size: medium;
}

.projectMedium, .projectRole {
  font-weight: 800;
}
.arrow {
  transform: rotate(90deg);
}

.arrow:hover{
  color: #F15025;
}

.arrow.rotate{
  transform: rotate(0deg);
}


/* CONTACT */

.contactPage {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  left: 95%;
  top: 50%;
  z-index: 1;
  padding-right: 5%;
}

.contactPageIcon {
  margin-bottom: 20px;
}

.contactPageIcon a {
  color: #555;
}

.contactPageIcon i {
  font-size: 28px;
}
