::selection {
  background-color: #F15025;
  /* Change this to the background color you want */
  color: #fff;
  /* Change this to the text color you want */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inconsolata', monospace;
    margin: 0% 10% 10% 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* SIDEBAR */

.menuDiv{
  height:5%;
}
.menuUl{
  list-style: none;
  margin: 1%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.menuLi{
  margin: 10px; 
  text-align: center;
}

.menuA{
  display: block;
      text-decoration: none;
      color: #333;
      transition: all 0.3s ease;
      cursor: pointer;
      
     
}

.menuLi:hover{
  background-color: #E6E8E6;
  color: #F15025;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeMenu{
  color:#F15025;
}


/* INTRODUCTION */

.projects{
  margin-bottom: 10%;
}

.projectsImages{
  height: 30rem;
}

